<!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Romero - Maddalena</title>
  </head>
  <body>
    {% extends 'ejemplo/base.html' %}
    
    {% block contenido %}
    <div class="container"> 
      <center><h1>Buscar por nombre</h1>
      <form action="/mi-familia/buscar" method="post">
        {% csrf_token %}
        <div>{{ form }}</div>
        <div><input type="submit" class="btn btn-warning"></div>
      </form>
    
      <table class="table">
         <thead>
         <tr>
             <th scope="col">ID</th>
             <th scope="col">Nombre</th>
             <th scope="col">Apellido</th>
             <th scope="col">Documento</th>
             <th scope="col">Email/Correo</th>
             <th scope="col">Direccion</th>
             <th scope="col">Nacimiento</th>
         </tr>
         </thead>
         <tbody class="table-group-divider">
     
         {% for user in lista_familiares %}
             <tr>
                 <th scope="row">{{ user.id }}</th>
                 <td>{{ user.nombre}}</td>
                 <td>{{ user.apellido }}</td>
                 <td>{{ user.numero_pasaporte }}</td>
                 <td>{{ user.email }}</td>
                 <td>{{ user.direccion }}</td>
                 <td>{{ user.fecha_de_nacimiento }}</td>
             </tr>
             
             
             
         {% endfor %}
    {% endblock %}
  </center>
  </div>
  </body>
  </html>