<!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Romero - Maddalena</title>
  </head>
  <body>
    {% extends 'ejemplo/base.html' %}
    {% block titulo%} Buscar Familiares por nombre {% endblock %}
    {% block contenido %}
      
      <form action="/mi-familia/buscar" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buscar">
      </form>
    
      {% for familiar in lista_familiares %}
        <ul>
           <li>Nombre y Apellido: {{familiar.nombre}} {{familiar.apellido}}</li>
           <li>Dirección: {{familiar.direccion}}</li>
           <li>Correo Electrónico: {{familiar.email}}</li>
           <li>Fecha de nacimiento: {{familiar.fechaNac}}</li>
           <li>Número de pasaporte: {{familiar.numero_pasaporte}}</li>  
        </ul>
      {% endfor %}
    {% endblock %}

  </body>
  </html>