<!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Romero - Maddalena</title>
  </head>
  <body>
    {% extends 'ejemplo/base.html' %}
    {% block titulo%} Buscar Familiares por nombre {% endblock %}
    {% block contenido %}
      
      <form action="/mi-familia/buscar" method="post">
        {% csrf_token %}
        <div>{{ form }}</div>
        <div><input type="submit" value="Buscar"></div>
      </form>
    
      {% for familiar in lista_familiares %}
        <ul class="busqueda">
           <li><span>Nombre y Apellido:</span> {{familiar.nombre}} {{familiar.apellido}}</li>
           <li><span>Dirección:</span> {{familiar.direccion}}</li>
           <li><span>Correo Electrónico:</span> {{familiar.email}}</li>
           <li><span>Fecha de nacimiento:</span> {{familiar.fecha_de_nacimiento}}</li>
           <li><span>Número de pasaporte:</span> {{familiar.numero_pasaporte}}</li>  
        </ul>
      {% endfor %}
    {% endblock %}

  </body>
  </html>